body {
  font-family: "Merriweather", serif;
}

//testi colori
.text-extra-light-green {
    color: #c3e2a5;
}
.text-light-green {
    color: #b0e29d;
}

.text-middle-green {
    color: #73b760;
}

.text-dark-green {
    color: #43762b;
}

//background colori
.bg-extra-light-green {
    background-color: #c3e2a5;
}
.bg-light-green {
    background-color: #b0e29d;
}

.bg-middle-green {
    background-color: #73b760;
}

.bg-dark-green {
    background-color: #43762b;
}

.bg-extra-dark-green {
    background-color: #274b16;
}

//Cursor 
.cursor-pointer {
    cursor: pointer;
}

//Hover
li:hover {
    color: #ddf5c5;
    cursor: pointer;
}

//Button
.btn-cust {
    color: white;
    font-size: 18px;
    text-align: 40px;
    padding: 0px 15px;
    font-weight: bold;
    background-color: #73b760;
    border-radius: 99px;

    &:hover {
        background-color: #43762b;
    }
    
}

.btn-cust-red {
    color: white;
    font-size: 18px;
    line-height: 20px;
    padding: 0px 15px;
    font-weight: bold;
    background-color: rgba(238, 5, 5, 0.747);
    border: 2px solid black;
    border-radius: 99px;
    cursor: pointer;
  
    &:hover {
      background-color: rgb(216, 3, 3);
    }
    
}
